.navbar{
    background-color: black;
}
.content h1{
background-color: red;
margin-top: -100px;
padding: 30px 0px;
margin-bottom: 100px;
color: #fff;
}
.content strong{
color:#fff
}



.footer {
    background: url(../img/footer-bg.jpg);
    padding-bottom: 35px;
    background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center center;
}

.footer .Follow {
   margin-bottom: 27px;
}


.footer .Follow h3 {
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
border-bottom: #fff solid 1px;
   border-bottom-width: 1px;
border-width: 1px;
display: inline-block;
padding-bottom: 2px;}
.coa {
   color: #12dc12;
}


.footer .Newsletter  {

   padding: 13px 26px;
       padding-top: 10px;
       padding-right: 26px;
       padding-bottom: 10px;
       padding-left: 26px;
   border: #fff solid 1px;
   width: 77%;


}


.footer .Subscribe {

   padding: 10px 46px;
margin-left: -3px;
border: #0e0c0c solid 1px;
background: #0e0c0c;
color: #fff;

}
.pdn-top-30 {
   padding-top: 35px;
}
ul.location_icon {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}
ul.location_icon li {
    float: left;
    height: 70px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 20px;
}

ul.location_icon li:last-child { padding-right: 0px; }

ul.location_icon li a{
margin-bottom: 23px;}

ul.location_icon span {
   font-size: 17px;
    font-weight: 400;
}

.copyright {
    background-color: #fff;
    padding: 10px 0px;
}
.copyright p {
    color: #120f0f;
    font-size: 16px;
    text-align: center;
}
.copyright a {
   color: #120f0f;
}
.copyright a:hover {
   color: #81256c;
}

