.loader{
    position: fixed;
    z-index: 10000;
    top:0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

}
.item img{
  
}
.loader img{
    height: 15rem;
}
.loader.active{
 animation-name: f;
 animation-duration: 1s;
 animation-fill-mode: forwards;
}
@keyframes f {
    100%{
        opacity: 0%;
        visibility: hidden;
    }
    
}
.btn-close:focus{
    box-shadow: none;
}
.btn-close{
    float: right;
    margin: 10px 30px 0px 0px;
    font-size: 30px;
}
.modal-dialog{
    margin-top: 130px;
    box-shadow: 5px 5px 30px 1px rgb(83, 83, 83);
}

.owl-dots{
    display: none;
}
.owl-nav {
  font-size: 50px;
}
.owl-nav .owl-prev{
position: absolute;
top: 30%;
left: -5%;
}
.owl-nav .owl-next{
    position: absolute;
    top: 30%;
    right: -5%;
    }
@media (max-width:768px) {
    .owl-dots{
        display:block;
    }
    .owl-nav {
       display: none;
      }
}
.item:hover{
    cursor: pointer;
transform: scale(0.9,0.9);
transition: 0.5s;
}
.owl-carousel{
    padding: 100px 0px;
}

.top-icon:hover{
    transform: scale(1.2,1.2);
    transition: all 0.5s;

}
.navbar{
    background-color: rgba(0, 0, 0,0.6);
}
.navbar:hover{
    background-color:#000;

    transition: 0.5s;
}

.nav-link{
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    margin: 0px 10px;
    text-transform: uppercase;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown:hover .dropdown-menu{
    display: block; 
    opacity: 0;
    animation-name: fi;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes fi {
    100%{
        opacity: 100%;
    }
    
}




.nav-link:hover{
    color: crimson;
    transition: all 0.4s;
}
.nav-link:focus{
    color: crimson;
}
.fa-bars{
    color: #fff;
    font-size: 30px;
}
.navbar-toggler:focus{
    box-shadow: none;

}
.fa-xmark{
    color: #fff;
    font-size: 30px;
    display: none;
}

.navbar-brand{
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    
}
@keyframes move {
    0%{
        transform: scale(1.1,1.1);
    }
    
}
.carousel-caption {
    top: 15%;
    left: 15%;
    text-align: left;

}
.carousel-caption h1{
    font-size: 55px;
    font-weight: 800;

}
.carousel-caption p{
    font-size: 23px;
    margin-top: 50px;
}
.main_bt{
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 20px 50px;
    border-radius: 50px;
}
.button_section{
    margin-top: 70px;
}

.main_bt:hover{
    color: #fff;
    background-color: black;
    border:black;
    transition: 0.6s;
}
.locat_icon{
    margin-top: 50px;
}

.locat_icon li{
list-style: none;
margin: 0px 15px 0px 0px ;
}
.locat_icon{
    margin-left: -25px;
}

@media (max-width:768px) {
    .carousel-caption h1{
        font-size: 25px;
        font-weight: 200;
      
    
    }
    .carousel-caption p{
        font-size: 10px;
        margin-top: 20px;
    }
    .main_bt{
        
        padding: 5px 20px;
    
    }
    .button_section{
        margin-top: 20px;
    }
    .locat_icon{
        margin-top: 15px;
    }
     .carousel-caption{
        top: 0;
     }
    
    
}

.color{
    background-color: rgba(255, 255, 255,0.9);
 
}




.about-us{
    background: url(../img/about-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.content{
    padding-top: 100px;
}
.black{
    font-size: 50px;
    color: #000;
}
.content h1{
    font-size: 50px;
    color: rgb(197, 3, 42);
    font-weight: 700;
}
.content p{
    font-size: 22px;
}
.read-me a{
    color: #fff;
    text-decoration: none;
    border: 1px solid #81256c;
    background-color: #81256c;
    padding: 10px 20px;
    border-radius: 50px;

}
.bg{
    border:  2px solid #81256c;
    border-radius:50px;
}
.inner-about-content p{
font-size:19px;
}

.service{
    background:rgba(44, 43, 43,0.6)url(../img/service.webp);
    background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  padding: 50px;
  margin-top: -40px;
background-blend-mode: darken;
}
.service h1{
    margin-bottom: 100px;
    color:#fff;
    font-weight: 700;
    font-size: 50px;
    text-transform:capitalize;
    
}
.service-content:hover h2{
    display: none;
}

.service-content{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 50px;
    height: 250px;
    box-shadow: 5px 5px 20px 0px #000;
    transition: all 0.5s;
    cursor: pointer;
   
}
.service-content h2{
text-align: center;
margin-top: 25px;
text-transform: uppercase;
color: #fff;


}

.service-content p{
    color: #6c757d;
    text-align: justify;
    display: none;
    font-style: italic;
    font-weight: 600;
    
}

.service-content:nth-child(1):hover{
    background: linear-gradient(45deg,rgba(255, 28, 81, 0.795)0%,rgba(225, 0, 124, 0.8)100%),url(../img/img.jpg);
    background-size: cover;  
  
} 
.service-content:hover.service-content p{
display: block;
color: #f2f2f2;
}
.service-content:hover{
    transform: scale(1.1,1.1);
}
@media (max-width:786px) {
    .m{
        margin-top: -50px;
    }
    
}


.footer {
    background: url(../img/footer-bg.jpg);
    padding-bottom: 35px;
    background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center center;
}

.footer .Follow {
   margin-bottom: 27px;
}


.footer .Follow h3 {
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
border-bottom: #fff solid 1px;
   border-bottom-width: 1px;
border-width: 1px;
display: inline-block;
padding-bottom: 2px;}



.footer .Newsletter  {

   padding: 13px 26px;
       padding-top: 10px;
       padding-right: 26px;
       padding-bottom: 10px;
       padding-left: 26px;
   border: #fff solid 1px;
   width: 77%;


}

.footer .Subscribe {

   padding: 10px 46px;
margin-left: -3px;
border: #0e0c0c solid 1px;
background: #0e0c0c;
color: #fff;

}
.pdn-top-30 {
   padding-top: 35px;
}
ul.location_icon {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}
ul.location_icon li {
    float: left;
    height: 70px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 20px;
}

ul.location_icon li:last-child { padding-right: 0px; }

ul.location_icon li a{
margin-bottom: 23px;}

ul.location_icon span {
   font-size: 17px;
    font-weight: 400;
}

.copyright {
    background-color: #fff;
    padding: 10px 0px;
}
.copyright p {
    color: #120f0f;
    font-size: 16px;
    text-align: center;
}

.none{
    list-style: none;
    
}